<div class="background">
  <div class="container">
    <div class="navbar-container">
      <div class="navbar-brand">
        <a href=""><img src="../../../assets/img/logo.jpg" alt=""></a>
      </div>
      <nav class="navbar-nav">
        <ul>
          <li>
            <a href="#">ínicio</a>
          </li>
          <li>
            <a href="#">santos</a>
          </li>
          <li>
            <a href="#">elenco atual</a>
          </li>
          <li>
            <a href="#">desenvolvedor</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
